<%= render partial: 'spree/shared/error_messages', locals: { target: @vendor } %>

<div class="col-md-12">
  <h2>General Information</h2>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.field_container :name do %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', required: true %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :about_us do %>
        <%= f.label :about_us %>
        <%= f.text_area :about_us, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :about_us do %>
        <%= f.label 'Short Description' %>
        <%= f.text_area :description, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :address do %>
        <%= f.label :address1 %>
        <%= f.text_field :address, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :address2 do %>
        <%= f.label :address2 %>
        <%= f.text_field :address2, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :address3 do %>
        <%= f.label :address3 %>
        <%= f.text_field :address3, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :address4 do %>
        <%= f.label :address4 %>
        <%= f.text_field :address4, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :contact_us do %>
        <%= f.label :contact_us %>
        <%= f.number_field :contact_us, class: 'form-control' %>
      <% end %>
    </div>


  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.field_container :email do %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.field_container :speciality do %>
        <%= f.label :speciality %> (Write it down in Comma Seperated formate eg: "Formal Abaya", "Stiched")
        <%= f.text_field :speciality, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.field_container :travel_distance do %>
        <%= f.label :travel_distance %>
        <%= f.number_field :t_distance, class: 'form-control' %>
      <% end %>
    </div>
    <br>
    <div class="form-group">
      <%= f.field_container :google_address_url do %>
        <%= f.label :store_pin_location1 %> (Google Url)
        <%= f.text_field :google_address_url, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :google_address2_url do %>
        <%= f.label :store_pin_location2 %> (Google Url)
        <%= f.text_field :google_address2_url, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :google_address3_url do %>
        <%= f.label :store_pin_location3 %> (Google Url)
        <%= f.text_field :google_address3_url, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :google_address4_url do %>
        <%= f.label :store_pin_location4 %> (Google Url)
        <%= f.text_field :google_address4_url, class: 'form-control' %>
      <% end %>
    </div>


  </div>
</div>

<div class="col-md-12">
  <h2>Social Media Links</h2>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.field_container :facebook_lnk do %>
        <%= f.label :facebook_lnk %>
        <%= f.text_field :fb_lnk, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.field_container :pintrest_lnk do %>
        <%= f.label :pintrest_lnk %>
        <%= f.text_field :pintrest_lnk, class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.field_container :twitter_lnk do %>
        <%= f.label 'Instagram Link' %>
        <%= f.text_field :twitter_lnk, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :whatsapp_lnk do %>
        <%= f.label :whatsapp_lnk %>
        <%= f.text_field :whatsapp_lnk, class: 'form-control' %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <h2>Store Schedule</h2>
  <div class="col-md-6">

    <div class="form-group">
       <%= f.field_container :mon_hrs do %>
        <%= f.label :monday_hours %>
        <%= f.text_field :mon_hrs, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
       <%= f.field_container :tue_hrs do %>
        <%= f.label :tuesday_hours %>
        <%= f.text_field :tue_hrs, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
       <%= f.field_container :wed_hrs do %>
        <%= f.label :wednesday_hours %>
        <%= f.text_field :wed_hrs, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.field_container :thu_hrs do %>
        <%= f.label :thursday_hours %>
        <%= f.text_field :thu_hrs, class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">

    <div class="form-group">
      <%= f.field_container :fri_hrs do %>
        <%= f.label :friday_hours %>
        <%= f.text_field :fri_hrs, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.field_container :sat_hrs do %>
        <%= f.label :saturday_hours %>
        <%= f.text_field :sat_hrs, class: 'form-control' %>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.field_container :sun_hrs do %>
        <%= f.label :sunday_hours %>
        <%= f.text_field :sun_hrs, class: 'form-control' %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.field_container :pub_holiday_hrs do %>
        <%= f.label :public_holiday_hours %>
        <%= f.text_field :pub_holiday_hrs, class: 'form-control' %>
      <% end %>
    </div>
  </div>
</div>
<br>
<div class="col-md-12">
  <div class="col-md-6">
    <%= f.field_container :state do %>
      <%= f.label :state %>
      <%= f.select :state,
        options_for_select(Spree::Vendor.state_machines[:state].states.collect { |s| [Spree.t("vendor_states.#{s.name}"), s.value] }, selected: @vendor.state),
        {}, class: 'select2' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% if current_spree_user.respond_to?(:has_spree_role?) && current_spree_user.has_spree_role?(:admin) %>
      <div class="form-group">
        <%= f.field_container :to_home, class: ['form-group'] do %>
          To Home
          <%= f.error_message_on :to_home %>
          <%= f.check_box :to_home, class: 'form-control' %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="col-md-12">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.field_container :logo_image do %>
        <%= f.label :logo %>
        <%= f.file_field :logo_image , class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <% if @vendor.logo_image.attached? %>
        <%= image_tag(main_app.url_for(@vendor.logo_image))  %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.field_container :details_logo_image do %>
        <%= f.label :details_logo_image %>
        <%= f.file_field :details_logo_image , class: 'form-control' %>
      <% end %>
    </div>
  </div>
  <%# if @vendor.details_logo_image.present? %>
  <div class="col-md-6">
    <div class="form-group">
      <% if @vendor.details_logo_image.attached? %>
        <%= image_tag(main_app.url_for(@vendor.details_logo_image))  %>
      <% end %>
    </div>
  </div>
  <%# end %>
</div>

  <%#= f.field_container :lat do %>
    <%#= f.label :lat %>
    <%#= f.number_field :lat, class: 'form-control' %>
  <%# end %>

  <%#= f.field_container :lng do %>
    <%#= f.label :lng %>
    <%#= f.number_field :lng, class: 'form-control' %>
  <%# end %>

  <%#= f.field_container :is_appointable do %>
    <%#= f.label :is_appointable %>
    <%#= f.check_box :is_appointable, class: 'form-control' %>
  <%# end %>


<%#= f.field_container :opn_hrs do %>
<%#= f.label :opn_hrs %>
<%#= f.text_field :opn_hrs, class: 'form-control' %>
<%# end %>


